<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034838903414-teh3i89ehqhif710kqtktivuifmvn79e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034838903414-teh3i89ehqhif710kqtktivuifmvn79e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034838903414-qp3uj72hpgus9nsj0v924pfnikq2394m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3v8DjWhteLeu_UEJ6kbTyTRE-74LeWUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1034838903414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>omarmoharrem.myapp</string>
	<key>PROJECT_ID</key>
	<string>mywallet-d9cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>mywallet-d9cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034838903414:ios:a56a67657184a648e8ed57</string>
	<key>DATABASE_URL</key>
	<string>https://mywallet-d9cb6.firebaseio.com</string>
</dict>
</plist>